*{margin: 0; padding: 0;}
body{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  font-display: row;
  font-family: 'Fira Mono';
}

body > div{
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  min-height: 100%;
  height: 100%;
  overflow: auto;
}
div#container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 180px;
  flex: 1 1 auto;
  max-height: 90%;
  overflow: auto;
  margin: 5px 10px;
}
div#container > div{
  width: 100%;
  margin: 5px 0;
  border-bottom: 1px solid gray;
}
div#container > div:last-child{
  border: none;
}
div#container > div > a{
  font-size: 18px;
  cursor: pointer;
}
div#container > div > p{
  font-size: 14px;
  color: #555;
}
footer{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #555;
}

iframe{
  flex: 1 1 auto;
  height: 100%;
  border: none;
  border-left: 1px solid gray;
}